{#==========================================
Admin - Index
==========================================#}
{% extends "./adminLayout.html" %}

{% block sectionClasses %}admin adminIndex{% endblock %}
{% block meta_title %}Spincast website Admin - Index{% endblock %}
{% block meta_description %}Spincast website Admin - Index{% endblock %}

{% block adminBody %}


    <div class="row"> 
        <div class="col-xs-12">
        
            <h4 class="shortTop">
                Index
            </h4>

        </div>
    </div>


{% endblock %}