{#==========================================
Admin
==========================================#}
{% extends "../layout.html" %}

{% block sectionClasses %}admin{% endblock %}
{% block meta_title %}Spincast website Admin{% endblock %}
{% block meta_description %}Spincast website Admin{% endblock %}

{% block body %}

<div class="container">

    <div id="sectionTitle" class="row"> 
        <div class="col-xs-12">
            <h2 class="shortTop">
                <a class="anchor" href="#admin" id="admin" title="permanent link"></a>
                Admin
            </h2>
        </div>
    </div>

    <div class="row"> 
        <div class="col-xs-12">
        
           
            <h3 class="shortTop">
                <a class="anchor" href="#news" id="news" title="permanent link"></a>
                News management
            </h3>

        </div>
    </div>
    
</div> 


{% endblock %}