{#==========================================
Admin
==========================================#}
{% extends "../layout.html" %}

{% block sectionClasses %}protected{% endblock %}
{% block meta_title %}HTTP authentication protected page example{% endblock %}
{% block meta_description %}HTTP authentication protected page example{% endblock %}

{% block body %}

<div class="container">

    <div id="sectionTitle" class="row"> 
        <div class="col-xs-12">
            <h2 class="shortTop">
                <a class="anchor" href="#top" title="permanent link"></a>
                Protected page example
            </h2>
        </div>
    </div>

    <div class="row"> 
        <div class="col-xs-12 center shortTop">
            <img src="/public/images/cat.gif" />
        </div>
    </div>
    
</div> 


{% endblock %}