
<header>

    <div class="container">
        <div class="row">
            <div id="appMenu" class="col-md-6 col-sm-12">
            
                <h1>{{appName}}</h1>
    
                <ul class="list-inline">
                    <li id="menu_home"><a href="/">Home</a></li>
                    <li id="menu_form"><a href="/form">Simple form example</a></li>
                    <li id="menu_notFound"><a href="/i-do-not-exist">Not Found page</a></li>
                    <li id="menu_exception"><a href="/exception-example">Error page</a></li>
                </ul>

            </div>
        </div>
    </div>

</header> 