<!doctype html>
<html lang="en" class="full">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block meta_title %}Spincast Quick Start{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="stylesheet" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/{{spincast.cacheBuster}}main.css">
    </head>
    <body>
    
        {% include "./header.html" %}
        
        {% block body %}{% endblock %}
    
        {% include "./footer.html" %}
        
        <script src="/public/js/jquery.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
        <script src="/public/js/{{spincast.cacheBuster}}main.js"></script>

    </body>
</html>
