rebel.xml
.settings/
target/
test-output/
temp/
log/
logs/
.project
.classpath
*.class
*.log
.idea/
*.iml
*.iws
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/
nb-configuration.xml
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
dependency-reduced-pom.xml
hs_err_pid*
/out/
.fuse_hidden*
.directory
.Trash-*
._*
/.tgitconfig
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.releaseBackup
release.properties
/spincast-website/src/main/resources/public/impress.js-master
