{% extends "../htmlForms.html" %}

{% block demoSectionClasses %}demo_html_forms_single{% endblock %}
{% block meta_title %}Demos - HTML Forms - Introduction{% endblock %}
{% block meta_description %}HTML Forms and validation demo - introduction{% endblock %}

{% set demoId = "single" %}

{% block scripts %}

<script>

    $(function() {
        
        $("a.tryIt").css("display", "block");
        $("a.tryItFixed").css("display", "block");
        
        $("#fillEmailEmpty").on("click", function() {
            $("#email").val("");
            return false;
        });  

        $("#fillEmailInvalid").on("click", function() {
            $("#email").val("nope");
            return false;
        });  
        
        $("#fillEmailAll").on("click", function() {
            $("#email").val("all@example.com");
            return false;
        });  

        $("#fillEmailShort").on("click", function() {
            $("#email").val("a@b.com");
            return false;
        }); 
        
        $("#fillEmailStay").on("click", function() {
            $("#email").val("stay@example.com");
            return false;
        }); 
        
        $("#fillEmailSuccess").on("click", function() {
            $("#email").val("success@example.com");
            return false;
        });  
        
        $("#fillEmailValid").on("click", function() {
            $("#email").val("valid@example.com");
            return false;
        });
    }); 
    
</script>
{% endblock %}

{% block demoBody %}

<h4>
    <a class="anchor_small" href="#form" id="form" title="permanent link"></a>
    Introduction - Single field
</h4>

<div id="htmlFormDemosWarning" class="well">
    <p>
        <strong>Please note</strong> : 
        <ul>
            <li>
                When you're done playing with the form, 
                make sure you scroll to the <a href="#code">How-To</a> below the form, a quick tutorial will
                show you how the demo works.
            </li>
            <li>
                There is <em>no</em> client-side validation in this demo. It's on
                purpose since we want
                to demonstrate how <em>server-side</em> validation works and how the
                <code>Validation Messages</code> can be displayed. 
            </li>
            <li>
                The demo is fully functional even when javascript is disabled.
            </li>
        </ul>
    </p>
</div>

<p>
    Enter any valid or invalid input in the following field and submit the form to see
    the validations in action!
</p>
<p>
    You can also try the tests suggested on the right...
</p>
<div class="row tallTop">     
    <div class="col-sm-12">
    
        <form class="form-horizontal" action="#form" method="post" novalidate="novalidate" accept-charset="UTF-8">

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="form-group {{validation['demoForm.email'] | validationClass()}}">
                            <label for="email" class="col-sm-4 control-label">Email *</label>
                            <div class="col-sm-8">
                                <input type="text" 
                                       class="form-control" 
                                       id="email" 
                                       name="demoForm.email" 
                                       placeholder="Email"
                                       value="{{demoForm.email | default('')}}">
                                {{validation['demoForm.email'] | validationMessages()}}
                                
                                <div class="validationsDirectBtnDiv">
                                    <button id="subBtn" type="submit" class="btn btn-primary">Submit</button>
                                </div>    
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                    
                        <div class="validationDemoSmallLabel">
                            <img class="inlineIcon" src="/public/images/icons/tipy.png" />
                            You can display (or hide) some elements/sections depending on the validation status of a field
                            or of the form itself.
                            For example :
                        </div>

                        {% if validation['demoForm._'] | validationFresh() %}
                            <div class="well niceWell">
                                <div class="niceWellTitle">Fresh</div>
                                This <code>&lt;div&gt;</code> is only displayed when the form has not been submitted 
                                yet (we say the form is <em>"fresh"</em>). This can be validated  using the "<strong>_</strong>" element, 
                                which represents the form itself (<a href="/documentation#forms_validation_messages">more info</a>) :
                                {% verbatim %}<code class="snippet">{% if validation['demoForm._'] | validationFresh() %}</code>{% endverbatim %}
                                
                            </div>
                        {% endif %}
                        
                        {% if validation['demoForm._'] | validationSubmitted() and validation['demoForm.email'] | validationIsValid() %}
                            <div class="well niceWell valid">
                                <div class="niceWellTitle">Valid</div>
                                This <code>&lt;div&gt;</code> is displayed because the form has been submitted and 
                                the field is valid. You often need to validate that the form has been submitted 
                                in addition to validate if a field is valid because, when a field  is displayed for the
                                first time, it doesn't contain any errors so it is considered as being "valid".
                                You can validate that the form has been submitted using the "<strong>_</strong>" element, 
                                which represents the form itself (<a href="/documentation#forms_validation_messages">more info</a>) :
                                {% verbatim %}<code class="snippet">{% if validation['demoForm._'] | validationSubmitted() and validation['demoForm.email'] | validationIsValid() %}</code>{% endverbatim %}
                            </div>
                        {% endif %}
                        
                        {% if validation['demoForm.email'] | validationHasSuccesses() %}
                            <div class="well niceWell success">
                                <div class="niceWellTitle">Success</div>
                                This <code>&lt;div&gt;</code> is displayed because the following condition is true :
                                {% verbatim %}<code class="snippet">{% if validation['demoForm.email'] | validationHasSuccesses() %}</code>{% endverbatim %}
                             </div>
                        {% endif %}
                        
                        {% if validation['demoForm.email'] | validationHasWarnings() %}
                            <div class="well niceWell warning">
                                <div class="niceWellTitle">Warning</div>
                                This <code>&lt;div&gt;</code> is displayed because the following condition is true :
                                {% verbatim %}<code class="snippet">{% if validation['demoForm.email'] | validationHasWarnings() %}</code>{% endverbatim %}
                            </div>
                        {% endif %}
                    
                        {% if validation['demoForm.email'] | validationHasErrors() %}
                            <div class="well niceWell error">
                                <div class="niceWellTitle">Error</div>
                                This <code>&lt;div&gt;</code> is displayed because the following condition is true :
                                {% verbatim %}<code class="snippet">{% if validation['demoForm.email'] | validationHasErrors() %}</code>{% endverbatim %}
                            </div>
                        {% endif %}
  
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-1 colImg">
                            <img src="/public/images/icons/arrowRight.png" />
                        </div>
                        <div class="col-sm-11">
                            <span class="validationsTitle">Validations to test :</span>
                            <ul class="list-group validations">
                                <li class="list-group-item">
                                    <span class="validationsNumber">1. </span>
                                    If the email is valid, we redirect to a new page with a <a href="/documentation#flash_messages">Flash Message</a>.
                                    This is a commonly used pattern when a form is valid : the user 
                                    is redirected to a confirmation page so a "refresh" of the page won't send the
                                    <code>POST</code> data again.
                                    <a href="#" class="tryItFixed btn btn-default btn-xs" id="fillEmailValid">Fill form</a>
                                </li> 
                                <li class="list-group-item">
                                    <span class="validationsNumber">2. </span>
                                    If the email is <code>"stay@example.com"</code>, the field is valid but we do not
                                    redirect to a new page. This is to demonstrate that you can redisplay
                                    a form even if all the fields are valid.
                                    <a href="#" class="tryItFixed btn btn-default btn-xs" id="fillEmailStay">Fill form</a>
                                </li>
                                <li class="list-group-item">
                                    <span class="validationsNumber">3. </span>
                                    If the email is <code>"success@example.com"</code>, we do not
                                    redirect to a new page <em>and</em> we display a
                                    <code>Success Validation Message</code> for the field.
                                    <a href="#" class="tryItFixed btn btn-default btn-xs" id="fillEmailSuccess">Fill form</a>
                                </li>
                                <li class="list-group-item">
                                    <span class="validationsNumber">4. </span>
                                    If the email is shorter than 
                                    8 characters (<code>"a@b.ca"</code> for example), we display a
                                    <code>Warning Validation Message</code>.
                                    Notice that the form doesn't become red since a warning is not an error,
                                    it doesn't make the form invalid!
                                    <a href="#" class="tryItFixed btn btn-default btn-xs" id="fillEmailShort">Fill form</a>
                                </li>
                                <li class="list-group-item">
                                    <span class="validationsNumber">5. </span>
                                    If the field is empty, or if it only contains spaces,
                                    an <code>Error Validation Message</code> is displayed.
                                    The form is invalid and becomes red...
                                    <a href="#" class="tryItFixed btn btn-default btn-xs" id="fillEmailEmpty">Empty form</a>
                                </li>
                                <li class="list-group-item">
                                    <span class="validationsNumber">6. </span>
                                    If the email is invalid, an <code>Error Validation Message</code> is displayed.
                                    The form is invalid and becomes red...
                                    <a href="#" class="tryItFixed btn btn-default btn-xs" id="fillEmailInvalid">Fill form</a>
                                </li>
                                <li class="list-group-item">
                                    <span class="validationsNumber">7. </span>
                                    If the email is <code>"all@example.com"</code> with display
                                    three <code>Validation Messages</code>, one for each level :
                                    <code>Success</code>, <code>Warning</code> and <code>Error</code>.
                                    This is to demonstate that a field can have multiple
                                    <code>Validation Messages</code> associated with it.
                                    <a href="#" class="tryItFixed btn btn-default btn-xs" id="fillEmailAll">Fill form</a>
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<h4>
    <a class="anchor_small" href="#code" id="code" title="permanent link"></a>
    Code
</h4>
<p>
    <ul>
        <li>
            The controller (the backend part) : 
            <a href="https://github.com/spincast/spincast-framework/tree/master/spincast-website/src/main/java/org/spincast/website/controllers/demos/DemoHtmlFormsSingleFieldController.java"><em>DemoHtmlFormsSingleFieldController.java</em></a>
        </li>
        <li>
            The <code>HTML</code> template (the frontend part) : 
            <a href="https://github.com/spincast/spincast-framework/tree/master/spincast-website/src/main/resources/templates/demos/htmlForms/single.html"><em>single.html</em></a>
        </li>
    </ul>
</p>


<h4>
    <a class="anchor_small" href="#how_to" id="how_to" title="permanent link"></a>
    How to
</h4>
<p>
    The purpose of this demo is to introduce you to
    the validation of HTML forms using Spincast and to demonstrate how you can use
    the various
    <a href="/documentation#forms_validation_filters">Validation Filters</a>.
    Depending on the value of the "email" field, the controller may add 
    <a href="/documentation#forms_validation_validating">Validation Messages</a> to the
    response and then redisplay the form, or may redirect you to a confirmation
    page.  
</p>
<p>
    <img class="inlineIcon" src="/public/images/icons/para.png" />
    First notice that, in our HTML form, the "name" attribute of the email field is <code>"demoForm.email"</code> :
    
    {% verbatim %}
    <div>
        <p>
            <pre class="ace ace-pebble" data-ace-hi="3,13,3,27"
>&lt;input type="text" 
       class="form-control" 
       id="email" 
       name="demoForm.email" 
       placeholder="Email"
       value="{{demoForm.email | default('')}}"&gt;</pre>       
        </p>
    </div>  
    {% endverbatim %}
    
     You can learn in the
    <a href="/documentation#forms_validation_data">Retrieving the submitted form</a> section of the document
    that Spincast uses the names of the fields to build a <a href="/documentation#jsonobject">JsonObject</a> 
    representing the submitted form :
    <div>
        <p>
            <pre class="ace ace-java" data-ace-hi="2,34,2,75"
>public void singleFieldSubmit(AppRequestContext context) {

    Form form = context.request().getForm("demoForm");
    context.response().addForm(form);

//...</pre>       
        </p>
    </div>  
</p>
<p>
    Note that we could also have retrieved the email field <em>directly</em>, using its full
    <code>"demoForm.email"</code> <a href="/documentation#jsonobject_jsonpaths">JsonPath</a> :
    <div>
        <p>
            <pre class="ace ace-java" data-ace-hi="1,22,1,74"
>

String email = context.request().getFormData().getString("demoForm.email");
</pre>       
        </p>
    </div>  
</p>
<p>
    But, in general, it's way easier to get the form data as a <a class="javadoc" href="/public/javadoc/org/spincast/core/request/Form.html">Form</a>
    object and then deal with it!
</p>
<p>
    <img class="inlineIcon" src="/public/images/icons/para.png" />
    Now that we have the form, we are going to validate it. A
    <code>Form</code> object is a simple <code>JsonObject</code> but with extra
    validation features. We can retrieve elements from it, validate those elements, and add
    validation messages. For example :
    
    <div>
        <p>
            <pre class="ace ace-java"
>

String email = form.getString("email");

if (StringUtils.isBlank(email)) {
    form.addError("email",
                  "email_empty",
                  "The email is required");
}</pre>       
        </p>
        <p>
            Notice that we use <code><em>"email"</em></code> as the <code>JsonPath</code> to target the
            element we want to validate [<span class="code-line-nbr">2</span>]. Since the <code>form</code> object 
            is the root element we started the validation on,
            we have to use a <a href="/documentation#jsonobject_jsonpaths">JsonPath</a> <em>relative to it</em>.
        </p>
    </div>  
</p>
<p>
    <img class="inlineIcon" src="/public/images/icons/para.png" />
    When the validation is done, we check if the form contains any
    errors and, if so, we redisplay it with its associated <code>Validation Messages</code>. To do so,
    we single call the <code>GET</code> handler (named "<em>singleField(...)</em>" in this demo) 
    from the <code>POST</code> handler :
    
    <div>
        <p>
            <pre class="ace ace-java"
>if(!form.isValid()) {
    singleField(context);
    return;  
} else {
    //...
}</pre>       
        </p>
    </div>  
</p> 
<p> 
    (Note that the actual code of this demo is slightly different, simply because we wanted to show that
    a form can be redisplayed even if it is valid.)
</p> 
<p> 
    <img class="inlineIcon" src="/public/images/icons/para.png" />
    If the form is <em>valid</em>, you want to 
    <a href="/documentation#sending_response_redirecting">redirect</a> the user
    to a confirmation page, using a <a href="/documentation#flash_messages">Flash message</a> :
    
    <div>
        <p>
            <pre class="ace ace-java"
>if(!form.isValid()) {
    //...
} else {

    // No errors! We process the form data, using
    // services, respositories, etc.
    // processForm(form)...
    
    // And then we redirect to a confirmation page
    context.response().redirect(FlashMessageLevel.SUCCESS,
                                "The form has been processed successfully.");
}</pre>       
        </p>
    </div>  
</p> 
<p>
    <img class="inlineIcon" src="/public/images/icons/para.png" />
    The last step of the validation process is to
    redisplay the form with the resulting <code>Validation Messages</code>, in your template, when 
    it contains errors. 
</p> 
<p>
    To help you, <a href="/documentation#forms_validation_filters">Validation Filters</a>
    are provided :
    
    {% verbatim %}
    <div>
        <p>
            <pre class="ace ace-pebble" data-ace-hi="1,23,1,75|10,8,10,63"
>

&lt;div class="form-group {{validation['demoForm.email'] | validationClass()}}"&gt;
    &lt;label for="email" class="col-sm-4 control-label"&gt;Email *&lt;/label&gt;
    &lt;div class="col-sm-8"&gt;
        &lt;input type="text" 
               class="form-control" 
               id="email" 
               name="demoForm.email" 
               placeholder="Email"
               value="{{demoForm.email | default('')}}"&gt;
        {{validation['demoForm.email'] | validationMessages()}}
        
        &lt;div class="validationsDirectBtnDiv"&gt;
            &lt;button id="subBtn" type="submit" class="btn btn-primary"&gt;Submit&lt;/button&gt;
        &lt;/div&gt;    
    &lt;/div&gt;
&lt;/div&gt;</pre>       
        </p>
    </div>  
    {% endverbatim %}
</p> 

<p> 
    Since we added the form to the response model using <code>context.response().addForm(form)</code>, our template has access
    to the validation messages through a <code>"validation"</code> element. From this element, we get the <code>Validation Messages</code> associated
    with our field using the <code>"demoForm.email"</code> key
    and we pass the result to the <code>validationClass()</code> and <code>validationMessages()</code>
    filters.
    
    <ul>
        <li>
            The <code>validationClass()</code> filter outputs an appropriate <code>CSS</code> class name,
            depending on the result of the validation.
        </li>
        <li>
            The <code>validationMessages()</code> filter format and output the
            <code>Validation Messages</code> themselves. The HTML template fragment to use is
            configurable.
        </li>
    </ul>
</p> 
<p> 
    Notice that we also use the <code>default()</code> filter which is provided by
    Pebble out of the box : <code>{% verbatim %}{{demoForm.email | default('')}}{% endverbatim %}</code>.
    This will fill the email field with the submitted value,
    or will fallback to an empty string if that value doesn't exist on the model.
</p> 
<p>
    <img class="inlineIcon" src="/public/images/icons/para.png" />
    The last thing we also demonstrate in this demo is how to display some HTML elements/sections or not, depending on
    the result of the validation. For example, using the <code>validationHasWarnings()</code> filter,
    we check if the email contains <code><em>Warning</em> Validation Messages</code> and, if so, we display a special
    <code>&lt;div&gt;</code> element : 
    
    {% verbatim %}
    <div>
        <p>
            <pre class="ace ace-pebble" data-ace-hi="1,1,1,64|7,1,7,12"
>

 {% if validation['demoForm.email'] | validationHasWarnings() %}
     &lt;div class="well niceWell warning"&gt;
         &lt;div class="niceWellTitle"&gt;Warning&lt;/div&gt;
         This &lt;code&gt;&amp;lt;div&amp;gt;&lt;/code&gt; is displayed because the following condition is true :
         {% verbatim %}&lt;code class="snippet"&gt;{% if validation['demoForm.email'] | validationHasWarnings() %}&lt;/code&gt;{% end<span></span>verbatim %}
     &lt;/div&gt;
 {% endif %}
</pre>       
        </p>
    </div>  
    {% endverbatim %}
</p>
<p>
    Make sure you read the <a href="/documentation#forms_validation_filters">Validation Filters</a> section
    of the documentation to see what are the filters related to validation, and how to use them! 
</p>

<h4>
    <a class="anchor_small" href="#more" id="more" title="permanent link"></a>
    More info
</h4>
<p>
    Learn everything about forms and validation in the dedicated 
    <a href="/documentation#forms">Forms</a> section of the documentation.
</p>
     
{% endblock %}