{#==========================================
Demos - Full Website
==========================================#}
{% extends "../demos.html" %}

{% block subSectionClasses %}demo_full_website{% endblock %}
{% block meta_title %}Demo - Full Website{% endblock %}
{% block meta_description %}Full Website demo using Spincast{% endblock %}

{% block subBody %}

<div class="container">

    <div id="sectionTitle" class="row"> 
        <div class="col-xs-12">
            <h2 class="shortTop">
                Full Website demo
            </h2>
        </div>
    </div>
    
    <div class="row"> 
        <div class="col-xs-12">
            <p>
                The site you are currently looking at has been developed using Spincast, from A to Z!
                <img src="/public/images/smile.gif" />
            </p>
            <p>
                The source is on Github: <a href="https://github.com/spincast/spincast-framework/tree/master/spincast-website">Spincast website source</a>
            </p>
        </div>
    </div>
   
</div>

{% endblock %}