{% extends "../demos.html" %}

{% block subSectionClasses %}demo_hello_world {% block demoSectionClasses %}{% endblock %}{% endblock %}
{% block meta_title %}Demo - Hello World{% endblock %}
{% block meta_description %}Hello World demo using Spincast{% endblock %}

{% block subBody %}

<div class="container">

    <div id="sectionTitle" class="row"> 
        <div class="col-xs-12">
            <h2 class="shortTop noUnder">
                Hello World! tutorials
            </h2>
        </div>
    </div>
    
    <div class="row"> 
        <div class="col-xs-12">
        
            <ul class="nav nav-tabs demoTabs">
                <li class="{{demoId == "quick" ? "active" : ""}}"><a href="/demos-tutorials/hello-world/quick">1. Quick!</a></li>
                <li class="{{demoId == "better" ? "active" : ""}}"><a href="/demos-tutorials/hello-world/better">2. Better...</a></li>
                <li class="{{demoId == "super" ? "active" : ""}}"><a href="/demos-tutorials/hello-world/super">3. <span id="super">Supercalifragilisticexpialidocious!</span></a></li>
            </ul>
            
            {#==========================================
            demoBody block
            ==========================================#}
            {% block demoBody %}{% endblock %}
        </div>
    </div>
</div>

{% endblock %}