{% extends "../layout.html" %}

{% block sectionClasses %}demo_http_auth_protected{% endblock %}
{% block meta_title %}Demo - HTTP Authentication - Protected page{% endblock %}
{% block meta_description %}HTTP authentication protected page demo{% endblock %}

{% block body %}

<div class="container">

    <div id="sectionTitle" class="row"> 
        <div class="col-xs-12">
            <h2 class="shortTop">
                <a class="anchor" href="#top" title="permanent link"></a>
                Congrats, you're in!
            </h2>
        </div>
    </div>

    <div class="row"> 
        <div class="col-xs-12 center shortTop">
            <img src="/public/images/cat.gif" />
        </div>
    </div>
    
</div> 


{% endblock %}