{#==========================================
Documentation
==========================================#}
{% extends "./layout.html" %}

{% block sectionClasses %}documentation{% endblock %}
{% block meta_title %}Documentation{% endblock %}
{% block meta_description %}Documentation / Installation / Quick start{% endblock %}

{% block scripts %}

<script>

    {#==========================================
    Initialize the Table Of Content
    ==========================================#}
    $(function() {  
        app.toc(180);
    }); 
 
</script>
{% endblock %}

{% block body %}

<div class="container">

    <div id="sectionTitle" class="row"> 
        <div class="col-xs-12">
            <a href="#top"><h2 class="shortTop">Documentation</h2></a>
        </div>
    </div>
    <div id="sectionTitleFixed" class="row longTitle"> 
        <div class="col-xs-12">
            <a href="#top"><h2 class="shortTop"><img src="/public/images/logo_xsmall.png" /> Documentation</h2></a>
        </div>
    </div>

    <div class="row">
    
        {#==========================================
        Table of content
        ==========================================#}
        <nav id="toc" class="col-md-3">
            <ul class="nav nav-stacked">
                <li class="openable">
                    <a href="#top">Installation</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#requirements">Requirements</a></li>
                        <li><a href="#quick_start"><i class="glyphicon glyphicon-flash"></i> Quick Start</a></li>
                        <li><a href="#using_default_module">Using SpincastDefaultGuiceModule</a></li>
                    </ul>
                </li>
                <li class="openable">
                    <a href="#overview">Spincast overview</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#introduction">Introduction</a></li>
                        <li><a href="#architecture">Architecture</a></li>
                        <li><a href="#request_handling">Request handling</a></li>
                        <li><a href="#required_components">The required components and their default implementations</a></li>
                        <li><a href="#dependencies">Transitive dependencies</a></li>
                    </ul>
                </li>
                <li class="openable">
                    <a href="#bootstrapping">Bootstrapping your app</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#everything_in_main">Everything in the <code>main</code> method</a></li>
                        <li><a href="#main_class_as_boot">The main class used as the bootstrapping class</a></li>
                        <li><a href="#custom_guice_module">Using a custom Guice module</a></li>
                        <li><a href="#overriding_modules">Using overriding modules</a></li> 
                        <li><a href="#bootstrapping_as_config">Bootstrapping class as the configuration class</a></li> 
                        <li><a href="#using_controllers">Using controllers and services</a></li>
                        <li><a href="#boot_with_core">Using <code>SpincastCoreModule</code> directly</a></li> 
                    </ul>
                </li>
                <li class="openable">
                    <a href="#request_context">The request context</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#core_rc_add-ons">The core request context <code>add-ons</code></a></li>
                        <li><a href="#core_rc_methods">The core request context methods</a></li>
                        <li><a href="#extending_request_context">Extending the request context</a></li>
                    </ul>
                </li>
                <li class="openable">
                    <a href="#routing">Routing</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#routing_process">The routing process</a></li>
                        <li><a href="#adding_route">Adding a route</a></li>
                        <li><a href="#http_method_and_path">HTTP method and path</a></li>
                        <li><a href="#dynamic_parameters">Dynamic parameters</a></li>
                        <li><a href="#routing_types">Routing Types</a></li>
                        <li><a href="#route_content-type">Content-Types</a></li>
                        <li><a href="#route_saving">Saving the route</a></li>
                        <li><a href="#filters">Filters</a></li>
                        <li><a href="#static_resources">Static resources</a></li>
                        <li><a href="#dynamic_resources">Dynamic resources</a></li>
                        <li><a href="#cors">Cors</a></li>
                        <li><a href="#special_exceptions">Special exceptions</a></li>
                        <li><a href="#router_dynamic">The router is dynamic</a></li>
                    </ul>
                </li>
                <li class="openable">
                    <a href="#miscellaneous">Miscellaneous</a>
                    <ul class="nav nav-stacked">
                        <li><a href="#default_config">Default configurations</a></li>
                        <li><a href="#ssl">Using a SSL certificate (HTTPS)</a></li>
                        <li><a href="#jsonobject">JsonObject</a></li>
                        <li><a href="#main_args">@MainArgs</a></li>
                        <li><a href="#init_method">Using an <code>init()</code> method</a></li>
                    </ul>
                </li>
                
            </ul>
        </nav>
        
        {#==========================================
        Content
        ==========================================#}
        <div id="toc-content" class="col-md-9">
        
            {#==========================================
            Section "installation"
            ==========================================#}
            {% include "./docs/installation.html" %}

            {#==========================================
            Section "overview"
            ==========================================#}
            {% include "./docs/overview.html" %}

            {#==========================================
            Section "bootstrapping"
            ==========================================#}
            {% include "./docs/bootstrapping.html" %}
            
            {#==========================================
            Section "Request Context"
            ==========================================#}
            {% include "./docs/requestContext.html" %}

            {#==========================================
            Section "Routing"
            ==========================================#}
            {% include "./docs/routing.html" %}

            {#==========================================
            Section "Miscellaneous"
            ==========================================#}
            {% include "./docs/miscellaneous.html" %}

        </div> {# end : id="docs" #}

    </div> {# end : row #}
    
</div> 

{% endblock %}