<header class="container">

    {#==========================================
    Logo and social buttons
    ==========================================#}
    <div class="row">
        <div id="top" class="col-md-12">
            <a href="/"><img id="logo" src="/public/images/logo_top2.png" alt="" /></a>
            
            <div id="topLinks">
                <a href="https://twitter.com/spincast">
                    <img src="/public/images/twitter.png" title="News on Twitter" />
                </a>
                &nbsp;&nbsp;
                <a href="https://github.com/spincast/spincast-framework">
                    <img src="/public/images/github.png" title="Code on Github" />
                </a>
            </div>
        </div>
    </div>
    
    {#==========================================
    Alerts (Error/Warning/Confirmation) : 
    static version, when javascript is disabled.
    ==========================================#}
    {% if spincast.alerts is not empty | default(false) %}
        <noscript>
            <div class="alerts">
            	{% for alert in spincast.alerts %}
                    {% set alertClass = "alert-danger" %}
                    {% set symbol = "✘" %}
                    {% if alert.alertType == "SUCCESS" %}
                        {% set alertClass = "alert-success" %}
                        {% set symbol = "✔" %}
                    {% elseif alert.alertType == "WARNING" %}
                        {% set alertClass = "alert-warning" %} 
                        {% set symbol = "<span class='validationSymbolWarning'>!</span>" %}
                    {% endif %}
                    <p class="alert {{alertClass}}">
                        <strong>{{symbol | raw}}</strong> {{alert.text}}
                    </p> 
            	{% endfor %}
            </div>
            
            {#==========================================
            Required to make sure the static Alerts
            are visible (at the top of the page).
            ==========================================#}
            <meta http-equiv="refresh" content="0;URL='#top'" /> 
        </noscript>
    {% endif %}
    
    {#==========================================
    Main menu
    ==========================================#}
    <div class="row">
        <div class="col-md-12">
            <div class="left menu" id="menu">
                <ul>
                    <li id="menu_index"><a href="/">Home</a></li>
                    <li id="menu_news"><a href="/news"><img src="/public/images/fire.png" />What's new?</a></li>
                    <li id="menu_demos"><a href="/demos-tutorials/hello-world">Demos / Tutorials</a></li>
                    <li id="menu_documentation"><a href="/documentation">Documentation</a></li>
                    <li id="menu_plugins"><a href="/plugins">Plugins</a></li>
                    <li id="menu_download"><a href="/download">Download</a></li>
                    <li id="menu_more">
                        <div class="dropMenu">
                            <a href="/community">More...</a>
                            <div class="dropMenuContent">
                                <a href="/community">Community</a>
                                <a href="/about">About</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="clear">&nbsp;</div>
            </div>
        </div>
    </div>
    
</header> 