{% extends "./layout.html" %}

{% block sectionClasses %}index{% endblock %}
{% block meta_title %}Java web framework{% endblock %}
{% block meta_description %}Highly Flexible Java Web Framework Based On Guice{% endblock %}

{% block scripts %}
{% endblock %}


{% block body %}

<div class="container">

    <div class="row"> 
        <div class="col-xs-12">
		    <div id="jumb" class="jumbotron">
		        <h1>Power to the developers!</h1>
		        <p><span class="orange spincast">Spincast</span> is an highly flexible 
                and <a href="https://github.com/spincast/spincast-framework"><span>open source</span></a> Java web framework, based on Guice.</p>
		    </div>
	    </div>
    </div>

    <div class="row"> 
    
        {#==========================================
        Main content
        ==========================================#}
        <div class="col-md-9">
            <div id="indexContent" class="row">
            	<div class="col-xs-12">
            	
            	   <div id="spincastIntro" class="codeExample">
            	       <h4>Why Spincast framework?</h4>
            	       <p>
            	           We live in a crazy world where the <em>New Best Thing™</em> is always changing. Javascript, 
            	           that sucky language, is everywhere. Everybody thinks they are Netflix and that they need reactive not blocking
            	           serverless functional GraphQL web scaled microservices on Kubernetes.
            	       </p>
                       <p>
                           Stop this madness, please. What most of us really need are tools made for the real world. Tools that don't try to look cool,
                           but that work well and provide <em>control</em> and <em>flexibility</em>.
                           Spincast tries to be that framework that won't get you nerd points during a discussion, but 
                           that actually gets the job done very well.
                       </p>
            	   </div>

                    <div class="codeExample">
                        <h4>A simple but fully working application:</h4>
                        
                        <p>
                            <pre class="ace ace-java"
>public class App {

    public static void main(String[] args) {
        Spincast.init(args);
    }

    @Inject
    protected void init(DefaultRouter router, Server server) {
        router.GET("/").handle(context -> context.response().sendHtml("&lt;h1&gt;Hello World!&lt;/h1&gt;"));
        server.start();
    }
}</pre>   
                        </p>       
                    </div>
                    
                    <div class="codeExample">
                        <h4>When needed, you have access to a lot of power and flexibility...</h4>
                        
                        <p>
                            <pre class="ace ace-java"
>public class App {

    public static void main(String[] args) {
        Spincast.configure()
                .module(new AppGuiceModule())
                .plugin(new SpincastHttpClientPlugin())
                .plugin(new SpincastJdbcPlugin())
                .plugin(new SpincastFormsProtectionPlugin())
                .plugin(new SpincastScheduledTasksPlugin())
                .plugin(new SpincastSessionPlugin())
                .requestContextImplementationClass(AppRequestContextDefault.class)
                .init(args);
    }

    @Inject
    protected void init(AppRouter router, AppServer server) {
    
        router.methods(HttpMethod.POST, HttpMethod.PUT)
              .path("/users/${userId:&lt;N&gt;}")
              .accept(ContentTypeDefaults.JSON)
              .handle(context -> {
        
            context.response().setCacheSeconds(3600);
            context.response().setCookie1year("myCookie", context.customMethodYouDefined());
            context.response().setHeader("x-powered-by", "Robert'); DROP TABLE Students;--");

            JsonObject userObj = context.json().create();
            userObj.set("user.id", context.request().getPathParam("userId"));
            userObj.set("user.timeZone", context.getTimeZoneToUse());
            userObj.set("user.locale", context.getLocaleToUse());
            
            System.out.println(userObj.toJsonString(true));
            // {
            //     "user" : {
            //         "id" : "42",
            //         "timeZone" : "America/New_York",
            //         "locale" : "en_US"
            //     }
            // }

            context.response().sendXml(userObj);
        });
        
        server.start();
    }
}</pre>   
                        </p>       
                    </div>

					<div id="noPresentation">
						<div class="row">
						
					        <div class="col-sm-6 col-md-4">
					            <div class="thumbnail">
					                <div class="caption">
					                    <p class="featureLogo">
					                    	<img src="/public/images/features/web.png" /> 
					                    </p>
					                    <h4>Web applications and APIs</h4>
					                    <p class="featureContent">Spincast is a framework to serve as a backend for Single Page Applications (<code>SPA</code>),
									        to develop old-school <code>HTML</code> generated websites or 
									        to be a <code>REST API</code> services platform.
									    </p>
					                </div>
					            </div>
					        </div>
					        
					        <div class="col-sm-6 col-md-4">
					            <div class="thumbnail">
					                <div class="caption">
					                    <p class="featureLogo">
					                    	<img src="/public/images/features/flexible.png" /> 
					                    </p>
					                    <h4>Flexible...</h4>
							        	<p class="featureContent">
							        		Spincast is based on <a href="https://github.com/google/guice">Guice</a> from the ground up.
							        		It is very flexible: each part can be tweaked/overridden, even 
									        the core classes.
							        		There are no static methods and 
									        <a href="/about#private_methods">no private methods</a>.
									    </p>
					                </div>
					            </div>
					        </div>
					        
					        
					        <div class="col-sm-6 col-md-4">
					            <div class="thumbnail">
					                <div class="caption">
					                    <p class="featureLogo">
					                    	<img src="/public/images/features/flexible2.png" /> 
					                    </p>
					                    <h4>.... <em id="veryFlexible">very</em> flexible!</h4>
							        	<p class="featureContent">
							        		Spincast aims to feel more like a library than like a framework.
	         								It is not opinionated and favors configuration over convention. Its main
                                            goal is to give <em>power to the developers</em>.
									    </p>
					                </div>
					            </div>
					        </div>
					        
					        <div class="col-sm-6 col-md-4">
					            <div class="thumbnail">
					                <div class="caption">
					                    <p class="featureLogo">
					                    	<img src="/public/images/features/modular.png" /> 
					                    </p>
					                    <h4>Modular</h4>
							        	<p class="featureContent">
							        		Spincast is composed of a small core 
		        							and a big <a href="/plugins">plugins ecosystem</a>.
                                            <em>You</em> choose what your application needs.
									    </p>
					                </div>
					            </div>
					        </div>
					        
					        <div class="col-sm-6 col-md-4">
					            <div class="thumbnail">
					                <div class="caption">
					                    <p class="featureLogo">
					                    	<img src="/public/images/features/websockets.png" /> 
					                    </p>
					                    <h4>WebSockets</h4>
					                    <p class="featureContent">WebSockets are fully supported.
					                    Even by the <a href="/plugins/spincast-http-client-with-websocket">Spincast HTTP client</a>!<p>
					                </div>
					            </div>
					        </div>
					        
					        <div class="col-sm-6 col-md-4">
					            <div class="thumbnail">
					                <div class="caption">
					                    <p class="featureLogo">
					                    	<img src="/public/images/features/server.png" /> 
					                    </p>
					                    <h4>Embedded server</h4>
					                    <p class="featureContent">The embedded server
									        makes everything easy to develop, test and deploy... When
                                            deployed, the application is fully contained, 
                                            in a single <code>.jar</code>  file.
									    </p>
					                </div>
					            </div>
					        </div>
					        
					        <div class="col-sm-6 col-md-4">
					            <div class="thumbnail">
					                <div class="caption">
					                    <p class="featureLogo">
					                    	<img src="/public/images/features/router.png" /> 
					                    </p>
					                    <h4>Powerful router</h4>
					                    <p class="featureContent">
									       Spincast's powerful router is injectable 
		        							and dynamic. That means you can add and remove 
		        							<code>routes</code> from anywhere in your application, at any time.
									    </p>
					                </div>
					            </div>
					        </div>
					     
					        <div class="col-sm-6 col-md-4">
					            <div class="thumbnail">
					                <div class="caption">
					                    <p class="featureLogo">
					                    	<img src="/public/images/features/tested.png" /> 
					                    </p>
					                    <h4>Well tested</h4>
					                    <p class="featureContent">
									       Spincast is fully tested and even provides it own
                                           <a href="/documentation#testing">Testing utilities</a>.
									    </p>
					                </div>
					            </div>
					        </div> 
					        
					        <div class="col-sm-6 col-md-4">
					            <div class="thumbnail">
					                <div class="caption">
					                    <p class="featureLogo">
					                    	<img src="/public/images/features/learn.png" /> 
					                    </p>
					                    <h4>Learn more...</h4>
								        <ul>
								        	<li>
								        		<a href="/demos-tutorials">Demos and tutorials</a>
								        	</li>
								        	<li>
								        		<a href="/documentation#quick_start">Quick Start application</a>
								        	</li>
								        	<li>
								        		<a href="/documentation">Documentation</a>
								        	</li>
								        	<li>
								        		<a href="/about">Why Spincast?</a>
								        	</li>
								        </ul> 
					                </div>
					            </div>
					        </div> 
					        
					    </div>
					</div>
				</div>	
            </div>
        </div>
        
        {#==========================================
        Right sidebar
        ==========================================#}
        <div id="right-sidebar" class="col-md-3">
        
            <div class="quickStartWrapper">
                <a href="/documentation#quick_start" class="btn btn-lg hvr-radial-out">
                <img id="quickIcon" class="inlineIcon" src="/public/images/icons/flashHome.png" /> Quick Start application</a>
            </div>
        
	        {#==========================================
	        Current version
	        ==========================================#}
            <div id="version" class="well right-section">
	            <h4>
                    Current version
                </h4>
	            <p>
	                The current version is <code>{{spincast.spincastCurrrentVersion}}</code> and
                    is based on <strong>Java 8</strong>.
	            </p>
                <p class="learnMore">
                    <a href="/documentation#versions">Learn more</a>
                </p>
            </div>
            
	        {#==========================================
	        Quote
	        ==========================================#}
            <div class="well right-section">
                <blockquote class="niceQuote niceQuoteSmall">
                    <p><em>Simple things should be simple, complex
                     things should be possible.</em></p>
                    <footer>Alan Kay</footer>
                </blockquote>
            </div>

        </div> {# End right-sidebar #}
    </div> {# End row #}
    
</div> 

{% endblock %}

