<!doctype html>
<html lang="{{spincast.langAbrv}}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Spincast - {% block meta_title %}Java web framework{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}Java Web Framework{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="alternate" type="application/rss+xml" title="RSS Spincast news feed" href="/rss">

        {#==========================================
        TimeZone Cookie script.
        Set early since we use "true" so the page
        is quickly reloaded the first time the cookie 
        is set!
        ==========================================#}
        {{ timeZoneCookie(true) }}

        <link rel="stylesheet" href="/public/js/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/js/letterfx/jquery-letterfx.min.css">
        <link rel="stylesheet" href="/public/css/hint.min.css">
        <link rel="stylesheet" href="/public/js/toastr/toastr.min.css">
        <link rel="stylesheet" href="/public/css/{{spincast.cacheBuster}}main.css">
        
    </head>
    <body class="{% block sectionClasses %}{% endblock %}">
    <a href="#top"></a>
    
        {#==========================================
        Header
        ==========================================#}
        {% include "./header.html" %}
        
        {#==========================================
        Body block
        ==========================================#}
        {% block body %}{% endblock %}
    
        {#==========================================
        Footer
        ==========================================#}
        {% include "./footer.html" %}
        
        {#==========================================
        Global js
        ==========================================#}
        <script src="/public/js/jquery-1.12.0.min.js"></script>
        <script src="/public/js/bootstrap/js/bootstrap.min.js"></script>
        <script src="/public/js/jquery.inview.js"></script>
        <script src="/public/js/letterfx/jquery-letterfx.min.js"></script>
        <script src="/public/js/ace/ace.js"></script>
        <script src="/public/js/toastr/toastr.min.js"></script>
        <script src="/public/js/arrive.min.js"></script>
        <script src="/public/js/{{spincast.cacheBuster}}main.js"></script>
            
        {#==========================================
        Page specific scripts
        ==========================================#}
        {% block scripts %}{% endblock %}
        
        {#==========================================
        Alerts
        ==========================================#}
        {% if spincast.alerts is not empty | default(false) %}
            <script>
            	{% for alert in spincast.alerts %}
            	    app.alertMessage("{{alert.alertType}}", "{{alert.text}}"); 
            	{% endfor %}
            </script> 
        {% endif %}
        
        {#==========================================
        Analytics
        ==========================================#}
		<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101178538);</script>
		<script async src="//static.getclicky.com/js"></script>
		<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101178538ns.gif" /></p></noscript>
        
    </body>
</html>