{% extends "./layout.html" %}

{% block sectionClasses %}news newsEntry hasBreadCrumb{% endblock %}
{% block meta_title %}News - {{newsEntry.title | strip}}{% endblock %}
{% block meta_description %}News - {{newsEntry.title | strip}}{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}

<div class="container">

    <ol class="breadcrumb">
        <li><img class="inlineIcon breadIcon" src="/public/images/icons/bread.png" /> <a href="/news">News</a></li>
        <li class="active">{{newsEntry.title | raw }}</li>
    </ol>

    <div id="newsEntry" class="row"> 
        <div class="col-xs-12">
        
            <h2>{{newsEntry.title | raw }}</h2>
        
            <div class="news_date_div">
                <img class="inlineIcon alignMin3" src="/public/images/icons/date.png" /> 
                <div class="news_date">{{newsEntry.publishedDate | dateFormat('_', 'short', ' ')}} ({{newsEntry.publishedDate | dateFormat('relative') }})</div>
            </div>

            <div class="news_text">
                {{newsEntry.description | raw }}
            </div>
            
        </div>
    </div>
</div> 

{% endblock %}