{% extends "./layout.html" %}

{% block sectionClasses %}plugins plugins-list{% endblock %}
{% block meta_title %}Plugins{% endblock %}
{% block meta_description %}Plugins to extend Spincast{% endblock %}

{% block body %}

<div class="container noToc">

    <div id="sectionTitle" class="row"> 
        <div class="col-xs-12">
		    <a href="#top"><h2 class="shortTop"><img class="inlineIcon" src="/public/images/icons/breadPlugin.png" /> Plugins</h2></a>
        </div>
    </div>
    
    <div id="sectionTitleFixed" class="row"> 
        <div class="col-xs-12">
            <a href="#top"><h2 class="shortTop"><img src="/public/images/logo_xsmall.png" /> Plugins</h2></a>
        </div>
    </div>
    
    <div class="row"> 
        <div class="col-xs-12">
            <p>
                Most plugins provide a Guice module that you have to install in your application. By doing so,
                extra components are bound and can be used in your application. 
                Note that the plugins with a dotted line below their title are
                already installed if you use the <code>spincast-default</code> artifact and the
                standard <a href="/documentation#boot_bootstrapper">Bootstrapper</a>
                (or if you start from the
                <a href="/documentation#quick_start">Quick Start</a> template application)!
            </p>
        </div>
    </div>
        
	<div id="pluginsWrapper" class="row">
	
        <div class="col-sm-6 col-md-4">
            <a href="/plugins/spincast-routing" class="pluginLink">
                <div class="thumbnail defaultPlugin niceWell">
                    <div class="caption">
                        <h4>Spincast Routing</h4>
                        <p class="center"><img src="/public/images/plugins/routing.png" /><p>
                        <p>
                            The default Router, and other routing related components.
                        </p>
                    </div>
                </div>
            </a>
        </div>
    
        <div class="col-sm-6 col-md-4">
            <a href="/plugins/spincast-request" class="pluginLink">
                <div class="thumbnail defaultPlugin niceWell">
                    <div class="caption">
                        <h4>Spincast Request</h4>
                        <p class="center"><img src="/public/images/plugins/request.png" /><p>
                        <p>Components to access HTTP requests information.</p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-6 col-md-4">
            <a href="/plugins/spincast-response" class="pluginLink">
                <div class="thumbnail defaultPlugin niceWell">
                    <div class="caption">
                        <h4>Spincast Response</h4>
                        <p class="center"><img src="/public/images/plugins/response.png" /><p>
                        <p>Components to help build an HTTP response.<p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-6 col-md-4">
            <a href="/plugins/spincast-undertow" class="pluginLink">
                <div class="thumbnail defaultPlugin niceWell">
                    <div class="caption">
                        <h4>Spincast Undertow</h4>
                        <p class="center"><img src="/public/images/plugins/undertow.png" /><p>
                        <p>
                            Undertow is the default HTTP server provided by Spincast.
                            It is modern, performant, and easily embeddable.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-6 col-md-4">
            <a href="/plugins/spincast-locale-resolver" class="pluginLink">
                <div class="thumbnail defaultPlugin niceWell">
                    <div class="caption">
                        <h4>Spincast Locale Resolver</h4>
                        <p class="center"><img src="/public/images/plugins/locale-resolver.png" /><p>
                        <p>
                            Provides an implementation of the locale resolver
                            which is used to find the best locale/language to use.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-6 col-md-4">
            <a href="/plugins/spincast-variables-addon" class="pluginLink">
                <div class="thumbnail defaultPlugin niceWell">
                    <div class="caption">
                        <h4>Spincast Variables Add-on</h4>
                        <p class="center"><img src="/public/images/plugins/variables.png" /></p>
                        <p>
                            Provides a Request Context add-on to read and write <em>request scoped</em> variables.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-6 col-md-4">
            <a href="/plugins/spincast-templating-addon" class="pluginLink">
                <div class="thumbnail defaultPlugin niceWell">
                    <div class="caption">
                        <h4>Spincast Templating Add-on</h4>
                        <p class="center"><img src="/public/images/plugins/templating.png" /></p>
                        <p>
                            Provides a Request Context add-on for easy access to the functionnalities of the
                            Templating Engine.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        
        
        <div class="col-sm-6 col-md-4">
            <a href="/plugins/spincast-pebble" class="pluginLink">
                <div class="thumbnail defaultPlugin niceWell">
                    <div class="caption">
                        <h4>Spincast Pebble</h4>
                        <p class="center"><img src="/public/images/plugins/pebble.png" /><p>
                        <p>
                            Provides an implementation for the Templating Engine component, 
                            using Pebble.
                        </p> 
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-6 col-md-4">
            <a href="/plugins/spincast-jackson-json" class="pluginLink">
                <div class="thumbnail defaultPlugin niceWell">
                    <div class="caption">
                        <h4>Spincast Jackson Json</h4>
                        <p class="center"><img src="/public/images/plugins/jackson-json.png" /><p>
                        <p>
                           Components to work with Json, using Jackson.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-6 col-md-4">
            <a href="/plugins/spincast-jackson-xml" class="pluginLink">
                <div class="thumbnail defaultPlugin niceWell">
                    <div class="caption">
                        <h4>Spincast Jackson XML</h4>
                        <p class="center"><img src="/public/images/plugins/jackson-xml.png" /><p>
                        <p>
                            Components to work with XML, using Jackson.
                        </p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-md-4">
            <a href="/plugins/spincast-config" class="pluginLink">
                <div class="thumbnail defaultPlugin niceWell">
                    <div class="caption">
                        <h4>Spincast Config</h4>
                        <p class="center"><img src="/public/images/plugins/config.png" /><p>
                        <p>
                            Configuration related components.
                        </p>

                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-6 col-md-4">
            <a href="/plugins/spincast-dictionary" class="pluginLink">
                <div class="thumbnail defaultPlugin niceWell">
                    <div class="caption">
                        <h4>Spincast Dictionary</h4>
                        <p class="center"><img src="/public/images/plugins/dictionary.png" /><p>
                        <p>
                            Provides default labels required by any Spincast application.
                        </p>

                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-6 col-md-4">
            <a href="/plugins/spincast-http-caching" class="pluginLink">
                <div class="thumbnail defaultPlugin niceWell">
                    <div class="caption">
                        <h4>Spincast HTTP Caching</h4>
                        <p class="center"><img src="/public/images/plugins/httpcaching.png" /><p>
                        <p>
                            HTTP Caching management : Etags, Last modification
                            dates, Cache-Control headers, etc.
                        </p>
   
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-6 col-md-4">
            <a href="/plugins/spincast-http-client" class="pluginLink">
                <div class="thumbnail niceWell">
                    <div class="caption">
                        <h4>Spincast Http Client<br />
                        </h4>
                        <p class="center"><img src="/public/images/plugins/http-client.png" /><p>
                        <p>
                            HTTP Client to easily build and send HTTP requests.
                        </p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-6 col-md-4">
            <a href="/plugins/spincast-http-client-with-websocket" class="pluginLink">
                <div class="thumbnail niceWell">
                    <div class="caption">
                        <h4>Spincast Http Client<br />
                            (with Websocket support)
                        </h4>
                        <p class="center"><img src="/public/images/plugins/http-client-websocket.png" /><p>
                        <p>
                            HTTP Client to easily build and send HTTP/WebSocket requests.
                        </p> 
                    </div>
                </div>
            </a>
        </div>
 
    </div>
</div> 

{% endblock %}