{% extends "./layout.html" %}

{% block sectionClasses %}home_page{% endblock %}
{% block meta_title %}Spincast Quick Start{% endblock %}
{% block meta_description %}Spincast Quick Start Application{% endblock %}

{% block scripts %}

<script>
    $(function() {
    	app.butterflyInit();
    });
</script>

{% endblock %}

{% block body %}

{#==========================================
Butterfly from :
http://www.michaelbromley.co.uk/blog/236/css-javascript-3d-butterfly-case-study
==========================================#}
<div class="butterflyCon">
    <div class="hover-container">
        <div class="left wing"></div>
        <div class="right wing"></div>
        <div class="body"></div>
        <div class="head"></div>
    </div>
</div>

{% endblock %}