
* {
	cursor:pointer;
}

.center {
	text-align:center;
}

body {
	overflow:hidden;
}

code {
    background-color: #F9F9F9;
    padding:0 0.1em;
    border-radius: 0.2em;
}

a, a:focus {
	font-weight: normal;
	color: #C67F13;
	background:0;
	text-shadow:none;
	text-decoration:underline;
}

a:hover {
    background: #9AC155;
    border-radius: 0.2em;
	color: #000000;
}

.step {
	width:1600px;
	height:740px;
	display:none;
	padding:0;
}

.impress-enabled .step {
    opacity: 0;
    z-index:1;
}

.impress-enabled .step.active {
    opacity: 1;
    z-index:1000;
}

.stepContent {
  	margin:0px auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	/* default width */
	width:840px;
}

.step h1 {
    font-size: 190px;
}

.step .smallNotes {
    font-size: 36px;
    position:absolute;
    right:10px;
    bottom:0px;
}

.step .smallNotes a {
	color:#000000;
    font-weight:bold;
}

#pre01 {
    padding: 0;
    text-align:center;
    font-size: 64px;
    color: #DC8D14;
}

#pre01 h1 {
    color: #000000;
}

#pre01 #playPresentation {
	margin-top:30px;
}

#pre10 #spincast {
	font-weight:bold;
}

#pre10 img {
	width:80px;
	display:none;
}

#pre20 {
	background-size: 40% auto;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-image: url("/public/images/presentation/power.png");
}

#pre20 #pre20text {
	position:absolute;
	left:10px;
	top:10px;
    width:900px;
}

#pre20 #pre20text p {
	margin-bottom:20px;
}

#pre20 #pre20text p#power {
	font-style:italic;
	font-size:60px;
	margin:0;
	margin-bottom:-40px;
	font-weight:bold;
}
#pre20 #pre20text p#developers {
	font-style:italic;
	font-size:120px;
	margin:0;
	font-weight:bold;
}

#pre25 p {

}

#pre30 img {
	width:100px;
	margin-top:40px;
}

#pre65 .stepContent {
	width:1200px;
}

#pre65 #pointer {
	float:left;
	width:250px;
	margin-top:-30px;
}

#pre65 #pre65text {
	float:left;
	width:950px;
}
#pre65 br {
	clear:both;
}

#pre80  img {
	width:220px;
	margin-top:40px;
}
	
#pre90 .stepContent, #pre40 .stepContent {
	text-align:center;
}

#pre100 {
    text-align: center;
}

#pre100 #tested {
    margin-top: 40px;
}

#pre100 #tested img {
    max-height: 120px;
}


#pre110 {
	width:1700px;
	height:840px;
}

#pre110 img {
	height:100%;
	width:100%;
}

#pre120 {
	background-size: 100% auto;
	background-position: right top;
	background-image: url("/public/images/presentation/logo.png");
}



